# Java files
*.class
*.jar

# Log files
*.log

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml

## IntelliJ binaries
out/
target/
